<%= bootstrap_form_for [@group, @instrumentalist_to_group]  do |f| %>

 <%= f.select :user_id, options_for_select(User.find(Instrumentalist.distinct.pluck(:user_id)).collect { |user|
	[user.firstname + " " + user.lastname , user.id] }, 0), {}, { id: 'user_select' } %>
 <div class="field">
 <%= f.select :instrument_id, options_for_select(Instrument.all.collect { |instrument|
	[instrument.name, instrument.id] }, 0), {}, { id: 'instrument_select' } %>


<script>
$("#user_select").change(function() {
  var input_state = $(this);
  var opt;
  var instruments=$("#instrument_select"); 
  instruments.empty();

  $.getJSON('/instrument/user/' + $(this).val(), function (data) {
  
    opt= '<option value="" selected="">Select Instrument</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele.id +'>' + ele.name+ '</option>';     
    }); instruments.prepend(opt);
  });
});
</script>

  <div align="right">
  <%= f.submit "Send" %></div>

<% end %>
