 <div id="follow_form">
   <% if ( Friend.where(user1: current_user.id, user2: @user.id).first!=nil ||
       Friend.where(user2: current_user.id, user1: @user.id).first!=nil)  %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>