<%= form_for [@concert, @concert_participant]  do |f| %>
<div class="field">
  <select name="concert_participant[group_id]">
      <% Group.find(UserToGroup.where(user_id: current_user.id, role_id: Role.where(name: "admin").first.id).pluck(:group_id)).each do |group| %>
        <% if ConcertParticipant.where(group_id: group.id, concert_id: @concert.id).first==nil %> 
          <option value="<%= group.id %>"><%= group.name %></option>
        <% end %>
      <% end %>
  </select>
  <%= f.submit "Send" %>

<% end %>