<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="style/style.css" />
  <script type="text/javascript" src="js/jquery-1.2.6.min.js"></script>
  <%= csrf_meta_tags %>
<script src="jquery.min.js"></script>
</head>
<body>

  <p> &nbsp; </p>
<div class="index">
<table width="100%"><tr><td align="right ">
  <%= image_tag("cat.png", :alt => "rss feed") %></td > <td align="justify">
<div class="panel panel-default">
  <div class="panel-body">
   <p> Welcome to MakeBand! </br>
       You can create new group and find members here, 
       response groups's vacancies, create resumes so groups can find you,
       leave requests to participate in concerts and communicate with other musicians.
   </p>
  </div>
</div>
</div>
</td> </tr></table>
</div>
</body>
</html>