
<%  @chat.messages.each do |message| %>
<li>
  <%= link_to "#{message.user.firstname} #{message.user.lastname}",user_path(message.user.id) %>
     [ <%= message.created_at.strftime('%-d %B %Y, %H:%M:%S') %>]
    <p><%= message.text %></p>
</li>
<% end %>
