// Place all the styles related to the vacancies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_vacancy{
  margin-left: 20%; 
  margin-right: 20%; 
}
.search_elem_vacancy{
  height: 70px;
  overflow: scroll;
  width: 200px;
  border: 1px solid rgb(200, 200, 200); 
  background-color: rgb(255, 255, 255);  

}
